<h1 class="text-center mt-4"><%= @recipe.name %></h1> 
<div class="container">
<h3 class="mt-2"> Preparation time: <%= @recipe.preparation_time %></h3>
<h3 class="mt-2">Cooking time: <%= @recipe.cooking_time %></h3>
<h3 class="mt-2">Steps: <%= @recipe.description %></h3>
</div>