<div id="home-cont">
  <div class="jumbotron text-center">
    <div class="text-cont">
      <h1 class='display-4 text'>Recipe App</h1>
      <p class='lead'>This is a simple recipe app using Rails</p>
      <hr class="my-4">
      <p>Feel Free To Try It</p>
      <%= link_to "Sign up!",  class: "btn btn-success btn-lg"%>
    </div>
  </div>
</div>